.container{
    border: 1px solid brown;
    background-color: yellow;
    height: 700px;
    width: 600px;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;

    /*
    grid-gap: 10px;

    /*
    justify-content: start;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    */

    /*
    align-items: start;
    align-items: baseline;
    align-items: end;
    align-items: stretch;

    align-content: space-between;
    */

    place-content: center;  /*justify-content and align-content */

    place-items: center;  /*justify-items and align-items */
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

/*
#box1{
    /* child item ke ander content kis tarah arrange
    place-self:center;

    justify-self: start;
    justify-self: center;
    

    align-self: start;
    align-self: center; 
    *
}
    */
 
