.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;

    /*  transition: 2s;  */

    /*
    transition-property: background-color;
    transition-delay: 3s;
    
    transition: all 3s ease 1s;
    */

    transition: transform 3s cubic-bezier(0.67,-0.04, 0.18);
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.67,-0.04, 0.18);
    transition-delay: 1s;
}

.box:hover{
    
    background-color: brown;
    transform: rotate(45deg);

    transform: scale(2) translateX(500px) rotate(360deg);
}